<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>Home</title>

</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a th:href="@{/mainPage}" class="navbar-brand"><span class="glyphicon glyphicon-home"></span> Home</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/index}"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <br />
            <br />
         <div class="panel panel-primary">
             <div class="panel-heading">
                 <h4 style="margin-left: 40%">Profile</h4>
             </div>
             <div class="panel-body">
                 <div class="col-md-2">
                     <img src="profile.jpg" style="width: 100px;">
                 </div>

                 <div class="col-md-8" >
                 <label>First Name:</label>
                 <span th:text="${user.firstName}">123</span> <br />
                 <label>Last Name:</label>
                 <span th:text="${user.lastName}">123</span>
                 </div>
             </div>
         </div>
        </div>


<div class="col-md-5">
    <br />
    <br />
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Groups</h4>
        </div>
        <div class="panel-body">
            <form >
                <select   name="Groups" multiple style="width: 100px">
                    <option th:each="groups : ${groups}" th:value="${groups.Id}" th:text="${groups.groupName}">Group</option>
                </select>
                <br />
                <input type="submit" value="Add">
            </form>

            <p>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p>
        </div>
    </div>
</div>
</div>

</div>


</body>
</html>