<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>Home</title>

</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a th:href="@{/mainPage}" class="navbar-brand"><span class="glyphicon glyphicon-home"></span> Home</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/index}"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 style="margin-left:40%;">Profile</h4>
                </div>
                <div class="panel-body ">
                    <img class="col-md-6"  src="profile.jpg">
                    <label>First Name:</label>
                    <span th:text="${user.firstName}">User</span> <hr />
                    <label>Last Name:</label>
                    <span th:text="${user.lastName}">User</span> <hr>

                </div>
            </div>
        </div>







        <div class="col-md-3"></div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 style="margin-left:40%;">Groups</h4>
                </div>
                <div class="panel-body">
                    <h4>Member of:</h4>
                    <div>
                        <table class="table" >
                            <thead class="thead-dark">
                            <tr scope="row">
                                <td scope="col">Group name</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr scope="row" th:each="groups : ${user.groups}">
                                <td scope="col" th:text="${groups.getGroupName()}">1</td>
                                <span th:each="permission: ${groups.getPermissions()}">
                                <td scope="col" th:text="${permission.getTitle()}">1</td>
                                </span>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div>
                        <label>Add user to groups</label>
                        <form th:action="@{/addUserToGroup}"  method="POST" >
                            <input type="hidden" th:field="${user.email}" name="email">
                        <select  name="id" style="width: 100px; height: 33px">
                            <option  th:each="groups : ${groups}" th:value="${groups.id}" th:text="${groups.groupName}"  >Group</option>

                        </select>

                        <input type="submit" class="btn btn-primary" value="Add">
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
<!--<div>-->
                    <!--<span th:each="permission : ${permissions}">-->
                        <!--<span th:text="${permission.getTitle()}"></span>-->
                    <!--</span>-->
<!--</div>-->


</body>
</html>